.nav{
  display: flex;
  justify-content: flex-end!important;
}

.nav-bar {
  position: absolute;
}

.nav-welcome{
  display: flex;
  justify-content: right;
  align-items: center;
}

.welcome-text{
  color:white;
}

.welcome-logo{
width: 5%;
}

.burguer-icon{
  display: none;
}


.logo-container {
  margin-left: 50%;
  position: relative;
  top: -60px;
}

.logo {
  border-radius: 50%;
  width: 15%;
}
